.whatgpt3 {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.whatgpt3-feature {
    display: flex;
}

.whatgpt3-feature .whatgpt3-container-feature {
    margin: 0;
    
}

.whatgpt3-feature .whatgpt3-container-text {
    max-width: 700px;
}

.whatgpt3-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
    flex-wrap: wrap;
}

.whatgpt3-heading  h2{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 510px;
}

.whatgpt3-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
    margin-top: 1rem;
}

.whatgpt3-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.whatgpt3-container .feature-container {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .feature-container-title h4 {
        font-size: 14px;
        line-height: 22px;
    }
    
    .feature-container-title p {
        font-size: 12px;
        line-height: 20px;
    }

    .feature-container {
        margin: 1rem 0;
    }
}